<div class="player-container max-w-screen-lg mx-auto xs:px-7.5 lg:px-[25px]">
  <div class="text-center wrapper-text">
    {% if section.settings.title != blank %}
      <h2 class="font-body tracking-normal text-24 mb-3 sm:mb-10">{{ section.settings.title }}</h2>
    {% endif %}
    {% if section.settings.text != blank %}
      <div class="rte max-w-[50em] mx-auto sm:text-center">
        {{ section.settings.text }}
      </div>
    {% endif %}
  </div>
  <div class="player-grid lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 grid-cols-1">
    {% for block in section.blocks %}
      {% if block.settings.image != blank %}
        <div class="player-block">
          <img src="{{ block.settings.image | img_url: '600x' }}" loading="lazy">
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Hero Section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading"
    },
    {
      "type": "textarea",
      "id": "text",
      "label": "Text"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Players Grid",
      "settings": {
        "title": "Players Grid"
      }
    }
  ]
}
{% endschema %}